<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298657309081-i15fn31s74a2l8dfcfc2q03b9f80njc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298657309081-i15fn31s74a2l8dfcfc2q03b9f80njc6</string>
	<key>API_KEY</key>
	<string>AIzaSyBkr0AHKssaWT9AG5DZC6uyJbVbfQebglo</string>
	<key>GCM_SENDER_ID</key>
	<string>298657309081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arketype.iOS-EXAM-FERNANDO-ALQUICIRA</string>
	<key>PROJECT_ID</key>
	<string>satori-84d54</string>
	<key>STORAGE_BUCKET</key>
	<string>satori-84d54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298657309081:ios:ef87ff0e17cec02195f308</string>
</dict>
</plist>